@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-shadow-hero-sm {
    text-shadow: 0 0 20px rgba(0, 0, 0, 1), 0 0 44px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-hero-md {
    text-shadow: 0 0 28px rgba(0, 0, 0, 1), 0 0 52px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-hero-lg {
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.6), 0 0 86px rgba(0, 0, 0, 0.4);
  }
}

@layer components {
  .bg-footer {
    @apply bg-gradient-to-b from-[#290f48] to-[#3F0089];
  }

  .swiper-slide-custom {
	@apply !flex !h-auto !w-11/12 !justify-center !rounded-sm sm:!w-8/12;
  }
}

@layer utilities {
}
